<ngx-spinner fullScreen="false">
  <p style="font-size: 20px; color: white">{{'processing' | translate}}</p>
</ngx-spinner>
<div class="row">
  <div class="col-sm-12">
    <div class="card shadow-lg card-body">
      <div class="form-group row">
        <div class="col-sm-12"><p>Create Category</p></div>
        <div class="col-sm-4 mb-3">
          <input class="form-control" placeholder="Category Name..." #cat_name>
        </div>
        <div class="col-sm-4 mb-3">
          <select class="form-control" #parent_cat>
            <option value="0" disabled selected>Select Parent</option>
            <option *ngFor="let cat of parentCategories" value="{{cat.id}}">{{ cat.name}}</option>
          </select>
        </div>
        <div class="col-sm-2 mb-3">
          <button class="btn bg-base-color2 btn-rounded text-white"
                  (click)="createCategory(cat_name.value, parent_cat.value)">
            <strong>Add Category</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row {{ updateContainer}}" *ngIf="category != null">
  <div class="col-sm-12">
    <div class="card shadow-lg card-body">
      <div class="form-group row">
        <div class="col-sm-12"><p>Update Category</p></div>
        <div class="col-sm-4 mb-3">
          <input class="form-control" placeholder="Category Name..." value="{{category.name}}" #cat_name_update>
          <input class="form-control hidden" value="{{category.id}}" #cat_id_update>
        </div>
        <div class="col-sm-4 mb-3">
          <select class="form-control" #parent_cat_update>
            <option value="0" disabled selected>Select Parent</option>
            <ng-container *ngFor="let cat of parentCategories">
              <ng-container *ngIf="category.parentCategory.id == cat.id">
                <option selected="selected" value="{{cat.id}}">{{ cat.name}}</option>
              </ng-container>
              <ng-container *ngIf="category.parentCategory.id != cat.id">
                <option value="{{cat.id}}">{{ cat.name}}</option>
              </ng-container>
            </ng-container>
          </select>
        </div>
        <div class="col-sm-2 mb-3">
          <button class="btn bg-base-color2 btn-rounded text-white"
                  (click)="updateCategory(cat_name_update.value, parent_cat_update.value,cat_id_update.value )">
            <strong>Update Category</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card shadow-lg card-body">
      <table datatable [dtOptions]="dtOptions" style="width: 100% !important;"
             class="table-striped table-hover table-bordered">
        <thead class="bg-base-color text-white text-center">
        <tr>
          <th>ID</th>
          <th>Category Name</th>
          <th>Sub-categories</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody *ngIf="categories?.length != 0">
        <tr *ngFor="let cat of categories" class="text-center">
          <td>{{ cat.id }}</td>
          <td>{{ cat.name }}</td>
          <td><span *ngFor="let childCat of cat.childCategory" class="badge badge-pill bg-dark text-white"
                    style="margin-right: 10px">{{ childCat.name }}</span></td>
          <td>
            <buttton class="btn btn-rounded btn-primary" (click)="getData(cat.id)">Edit Category</buttton>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

